/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */
/* 
  Use 18px, minor third 1.2 
  http://www.modularscale.com/?18&px&1.2&web&text
*/
html {
  font-size: 1.125em;   /* 18px  18/16=1.125 */
  line-height: 1.778em; /* 1.2 grid line. 18/16=1.125; 1.125x19=21.375 (1 grid line); 21.375x1.5=32.063px */
  padding: 1.222em 1em; /*  1 grid line  22px/18=1.222 18px/18=1 */
}
h1 {
  font-size: 1.728em;      /* Up 3 sizes  31.104px */
  padding-bottom: 0.707em; /* 22px 22/31.104=0.707 */
}
h2 {
  font-size: 1.44em;       /*  2 size up  25.92px */
  padding-bottom: 0.849em; /* 22px 22/25.92=0.849 */
}
p {
  padding-bottom: 1.222em;  /* 22px  22/18=1.222  */
} 
ul {
  padding-bottom: 1.222em; /* 22px  22/18=1.222  */
}
li {
  font-size: 0.833em;  /* down one size  15px */
  padding-left: 1.667em;  /* 25px 25/15=1.667  */
  padding-bottom: 0.533em; /* 8px 8/15=0.533 */
}
li p{
  padding-bottom: 0.533em; /* 8px 8/15=0.533 */
}
li:last-child {
  padding-bottom: 0;
}