/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/* ==== MODULAR STYLES === */
#three,
#two,
#one {
  color: white;
}
#three {
  background-color: purple;
}
#two {
  background-color: green;
}
#one {
  background-color: red;
}


/* ==== LAYOUT STYLES ==== */
/* For step 1, first make the container as inline-block */
#content {
  display: inline-block;
  width: auto;
}

#three,
#two,
#one {
  /* For step 1, float the boxes to right */
  float: right;
  /*  For step 2, set the width and the height to the
      same vw which is smaller the 33.33vw
  */
  width: 20vw;
  height: 20vw;
}

@media screen and (min-width: 600px) {
  /* For step 3, use position. Can use absolute position too */
  #three {
    position: fixed;
    top: 20vw;
    left: 0;
    right: 0;
    width: 100vw;
  }
  #two {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
  }
  #one {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
  }
}

